:root {
  --ev-c-text-1: var(--ev-c-black);
  --ev-c-text-2: var(--ev-c-black);
  --ev-c-text-3: var(--ev-c-black);

  --ev-button-alt-border: transparent;
  --ev-button-alt-text: var(--ev-c-text-1);
  --ev-button-alt-bg: var(--ev-c-gray-3);
  --ev-button-alt-hover-border: transparent;
  --ev-button-alt-hover-text: var(--ev-c-text-1);
  --ev-button-alt-hover-bg: var(--ev-c-gray-2);
}
